
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}


section{
    padding: 100px 0;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
.about, .projects, .skills, .teams, .contact, footer{
    font-family: 'Poppins', sans-serif;
}
.about .about-content,
.projects .serv-content,
.skills .skills-content,
.contact .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
section .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}
section .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}
section .title::after{
    position: absolute;
    bottom: -8px;
    left: 50%;
    font-size: 20px;
    color: crimson;
    padding: 0 5px;
    background: #fff;
    transform: translateX(-50%);
}


.navbar {
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
}

.navbar.sticky {
    padding: 15px 0;
    background: rgb(86, 22, 129);
}

.navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
}

.navbar .logo a span {
    color: crimson;
    transition: all 0.3s ease;
}

.navbar.sticky .logo a span {
    color: #fff;
}

.navbar .menu li {
    list-style: none;
    display: inline-block;
}

.navbar .menu li a {
    display: block;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}

.navbar .menu li a:hover,
.navbar.sticky .menu li a:hover {
    color: rgb(255, 52, 52); 
}


.menu-btn {
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

.scroll-up-btn {
    position: fixed;
    height: 45px;
    width: 42px;
    background: crimson;
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    border-bottom-width: 2px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.scroll-up-btn.show {
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}

.scroll-up-btn:hover {
    filter: brightness(90%);
}


.home{
    display: flex;
    background: url("images/banner.jpg") no-repeat center;
    height: 100vh;
    color: #ffffff;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
}
.home .max-width{
  width: 100%;
  display: flex;
}
.home .max-width .row{
  margin-right: 0;
}
.home .home-content .text-1{
    font-size: 27px;
}
.home .home-content .text-2{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}
.home .home-content .text-3{
    font-size: 40px;
    margin: 5px 0;
}
.home .home-content .text-3 span{
    color: rgb(121, 255, 97);
    font-weight: 500;
}
.home .home-content a{
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    font-weight: 400;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}
.home .home-content a:hover{
    color: crimson;
    background: none;
}


.about .title::after{
    content: "whoami";
}
.about .about-content .left{
    width: 45%;
}
.about .about-content .left img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 6px;
}
.about .about-content .right{
    width: 55%;
}
.about .about-content .right .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}
.about .about-content .right .text span{
    color: rgb(1, 185, 56);
}
.about .about-content .right p{
    text-align: justify;
}
.about .about-content .right a{
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}
.about .about-content .right a:hover{
    color: crimson;
    background: none;
}

.projects, .teams {
    color: #fff;
    background: #111;
}

.projects .title::before,
.teams .title::before {
    background: #fff;
}

.projects .title::after,
.teams .title::after {
    background: #111;
    content: "Projects";
}

.projects .serv-content .card {
    width: calc(33% - 20px);
    background: #222;
    text-align: center;
    border-radius: 6px;
    padding: 50px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-bottom: 20px; /* Adds a bottom margin to all cards */
}

/* Specific targeting for the second row to add a top margin */
.projects .serv-content .card:nth-child(n+4) {
    margin-top: 30px; /* Adds extra space between the first and second rows */
}

.projects .serv-content .card:hover {
    background: crimson;
}

.projects .serv-content .card .box {
    transition: all 0.3s ease;
}

.projects .serv-content .card:hover .box {
    transform: scale(1.05);
}

.projects .serv-content .card i {
    font-size: 50px;
    color: crimson;
    transition: color 0.3s ease;
}

.projects .serv-content .card:hover i {
    color: #fff;
}

.projects .serv-content .card .text {
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}


.skills {
    margin-top: 10px;
    position: relative; 
}

.skills:before,
.skills:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 2px;
    background-color: #ccc; 
}

.skills:before {
    left: 0;
}

.skills:after {
    right: 0;
    
}

.skills .container {
    max-width: 800px; 
    margin: 0 auto;
    text-align: center;
    padding: 0 100px; 
}

.skills .title::after {
    content: "what i know";
    display: block;
    font-size: 20px;
    font-weight: 500px;
    color: #e31a1a;
    margin-top: 5px;
}

.skills .intro {
    margin-bottom: 40px;
    font-size: 1.1em;
    color: #000000;
}

.skill-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skill-list li {
    margin: 10px;
    position: relative;
}

.skill-list li span {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4caf50;
    color: #fff;
    border-radius: 20px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.9em;
    cursor: pointer;
    transition: transform 0.3s ease;
    position: relative;
}

.skill-list li span:hover {
    transform: translateY(-6px);  
    background-color: #42a047; 
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2); 
}


.writing .title::after {
    content: "Featured Blogs";
}

.writing .blogs {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
}

.writing .blog {
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); 
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.writing .blog:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2); 
}

.writing .blog img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.writing .blog:hover img {
    transform: scale(1.05);
}

.writing .blog-content {
    padding: 20px;
}

.writing .blog h3 {
    font-size: 18px;
    font-weight: 600;
    margin: 10px 0;
    line-height: 1.4; 
    max-height: 60px; 
    overflow: hidden;
}

.writing .blog p {
    font-size: 14px; 
    line-height: 1.6;
    margin-bottom: 20px;
}

.writing .blog .btn {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px; 
    border: none;
    border-radius: 6px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    display: inline-block;
    margin-top: 10px; 
}

.writing .blog .btn:hover {
    background-color: #051434;
}

.writing .max-width {
    max-width: 1200px;
    margin: 0 auto;
}

.contact,
.teams {
    color: #fff;
    background: #111;
}

.contact .title::before,
.teams .title::before {
    background: #fff;
}

.contact .title::after,
.teams .title::after {
    background: #111;
    content: "get in touch";
    display: block; 
}

.contact {
    background: #111;
}

.contact .title {
    text-align: center;
    margin-bottom: 100px; 
}

.contact-content {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    text-align: center; 
    margin-top: 40px; 
}

.contact-content .column {
    width: 100%;
}

.contact-content .left {
    text-align: center; 
    max-width: 800px; 
    margin: 0 auto; 
}

.contact-content .left .text {
    font-size: 24px; 
    color: #a7a2a2; 
    margin-bottom: 20px; 
}

.contact-content .left p {
    font-family: Arial, sans-serif; 
    font-size: 20px; 
    color: #a7a2a2; 
    line-height: 1.6; 
    margin-bottom: 30px; 
}

.contact-content .left p:last-child {
    margin-bottom: 0; 
}

.contact-content .text {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.contact-content .icons {
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-top: 120px; 
}

.contact-content .icons a {
    margin-right: 20px;
}

.contact-content .icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s, transform 0.3s; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    position: relative; 
}

.contact-content .icon i {
    color: #fff;
    font-size: 20px;
}

.contact-content .icons .icon:nth-child(1) {
    background-color: #3b5998; 
}

.contact-content .icons .icon:nth-child(2) {
    background-color: #0077b5;
}

.contact-content .icons .icon:nth-child(3) {
    background-color: #24292e; 
}

.contact-content .icons .icon:nth-child(4) {
    background-color: #dd4b39; 
}

.contact-content .icons .platform {
    opacity: 0; 
    position: absolute; 
    bottom: -35px; 
    left: 50%; 
    transform: translateX(-50%); 
    font-size: 14px; 
    color: #8d8686; 
    transition: opacity 0.3s ease; 
}

.contact-content .icon:hover .platform {
    opacity: 1; 
}

.contact-content .icon:hover {
    background-color: #ff9e48; 
    transform: translateY(-5px); 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); 
}

.contact-content .icon:hover i {
    color: #fff; 
}

.contact-content .icon:hover .platform {
    opacity: 1; 
}


@media (max-width: 1104px) {
    .about .about-content .left img{
        height: 350px;
        width: 350px;
    }
}

@media (max-width: 991px) {
    .max-width{
        padding: 0 50px;
    }
}
@media (max-width: 947px){
    .menu-btn{
        display: block;
        z-index: 999;
    }
    .menu-btn i.active:before{
        content: "\f00d";
    }
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #111;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .home .home-content .text-2{
        font-size: 70px;
    }
    .home .home-content .text-3{
        font-size: 35px;
    }
    .home .home-content a{
        font-size: 23px;
        padding: 10px 30px;
    }
    .max-width{
        max-width: 930px;
    }
    .about .about-content .column{
        width: 100%;
    }
    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about .about-content .right{
        flex: 100%;
    }
    .services .serv-content .card{
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }
    .skills .skills-content .column,
    .contact .contact-content .column{
        width: 100%;
        margin-bottom: 35px;
    }
}

@media (max-width: 690px) {
    .max-width{
        padding: 0 23px;
    }
    .home .home-content .text-2{
        font-size: 60px;
    }
    .home .home-content .text-3{
        font-size: 32px;
    }
    .home .home-content a{
        font-size: 20px;
    }
    .services .serv-content .card{
        width: 100%;
    }
}

@media (max-width: 500px) {
    .home .home-content .text-2{
        font-size: 50px;
    }
    .home .home-content .text-3{
        font-size: 27px;
    }
    .about .about-content .right .text,
    .skills .skills-content .left .text{
        font-size: 19px;
    }
    .contact .right form .fields{
        flex-direction: column;
    }
    .contact .right form .name,
    .contact .right form .email{
        margin: 0;
    }
    .right form .error-box{
       width: 150px;
    }
    .scroll-up-btn{
        right: 15px;
        bottom: 15px;
        height: 38px;
        width: 35px;
        font-size: 23px;
        line-height: 38px;
    }
}


/* Initial state: elements start from the top-left corner with reduced opacity */
.scroll-reveal {
    opacity: 0;
    transform: translate(-50px, -50px); /* Start from top-left */
    transition: opacity 0.7s ease-out, transform 0.7s ease-out; /* Smooth transition */
    will-change: opacity, transform; /* Optimization hint */
}

/* Revealed state: elements are fully visible and in their final position */
.scroll-reveal.revealed {
    opacity: 1;
    transform: translate(0, 0); /* Move to their normal position */
}



.certifications, .teams{
    color:#fff;
    background: #111;
}
.certifications .title::before,
.teams .title::before{
    background: #fff;
}
.certifications .title::after,
.teams .title::after{
    background: #111;
    content: "top certificates";
}

.certifications .max-width {
    margin: 0 auto;
    padding: 0 20px;
}

.certifications .title {
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 50px;
    color: #ffffff;
    position: relative;
}

.certifications-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    position: relative; 
}

.cert-card {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(238, 198, 198, 0.1);
    transition: transform 0.3s ease;
    margin-bottom: 20px;
}

.cert-card:hover {
    transform: translateY(-5px);
}

.cert-card img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.cert-card:hover img {
    transform: translateY(-5px);
    filter: blur(5px);
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.cert-card:hover .overlay {
    opacity: 1;
}

.overlay-text {
    color: #ffffff;
    font-size: 16px; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.cert-card:hover .overlay-text {
    opacity: 1;
    transform: translateY(-3px);
}


.open-certificate .overlay-text {
    color: #ff5722;
    font-weight: bold;
}

.open-certificate:hover .overlay-text {
    text-decoration: underline;
    cursor: pointer;
}

@media (max-width: 768px) {
    .certifications-content {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 500px) {
    .certifications-content {
        grid-template-columns: 1fr;
    }
}

.full-screen {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.full-screen img {
    max-width: 90%;
    max-height: 90%;
}

.close-button {
    position: absolute;
    top: 15px;
    right: 200px; 
    background: none;
    border: none;
    color: #ffffff;
    font-size: 44px; 
    cursor: pointer;
    z-index: 10000; 
}

.close-button:hover {
    color: #ff0000;
}


footer{
    background: #3a3838;
    padding: 15px 23px;
    color: #fff;
    text-align: center;
}
footer span a{
    color: crimson;
    text-decoration: none;
}
footer span a:hover{
    text-decoration: underline;
}


.project-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50; /* Main color for visibility */
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    border-radius: 8px;
    text-decoration: none;
    margin-top: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.project-button:hover {
    background-color: #45a049;
    transform: translateY(-3px);
}

.project-button:active {
    transform: translateY(0px);
}

.achievement {
    margin-top: 2rem;
    padding: 1.5rem;
    background-color: #f9f9f9; 
    border-radius: 8px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.achievement .sub-title {
    font-size: 1.8rem;
    font-weight: 600;
    color: #333333; 
    margin-bottom: 1rem;
    text-transform: uppercase; 
    border-left: 4px solid #007BFF; 
    padding-left: 0.75rem;
}

.achievement-list {
    list-style-type: none; 
    padding: 0;
    margin: 0;
}

.achievement-list li {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    line-height: 1.6; 
    color: #555555;
    position: relative; 
}

.achievement-list li strong {
    color: #007BFF; 
}

.achievement-list li::before {
    content: "✓"; 
    color: #007BFF; 
    font-size: 1.4rem;
    position: absolute;
    left: -2rem; 
    top: 0;
}

.achievement-list li:hover {
    color: #333333; 
}

.achievement-list li:hover strong {
    text-decoration: underline;
}
